<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="ChatServiceEndpoint"
                address="net.tcp://localhost:8080/ChatService"
                binding="netTcpBinding"
                bindingConfiguration="BindingConfiguration"
                contract="ChatInterfaces.IChatService">
        <identity>
          <servicePrincipalName value=""/>
        </identity>
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="BindingConfiguration"
                 transferMode="Buffered"/>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>