<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ChatServer.ChatServiceImpl">
        <endpoint address="net.tcp://localhost:8080/ChatService"
                  binding="netTcpBinding"
                  bindingConfiguration="BindingConfiguration"
                  name="ChatServiceEndPoint"
                  contract="ChatInterfaces.IChatService">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="BindingConfiguration"
                 transferMode="Buffered"/>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>